<nav class="navbar-default navbar-static-side J-FrameSideNav" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    <img class="img-circle" src="/img/logo.png" title="陈凯伦 13165">
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="text-muted text-xs block" style="font-size:12px;margin-top: 10px;">
                            陈凯伦<br />13165
                        </span>
                    </a>-->
                    陈凯伦<br />13165
                </div>
            </li>
            <li>
                <a href="javascript:;">测试</a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="javascript:;">1234</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>