<nav class="navbar navbar-static-top J-FrameHead" role="navigation">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="javascript:;">
                <i class="fa fa-line-chart"></i>组内统计
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-angle-double-right"></i>流程引导
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-line-chart"></i>IP统计
            </a>
        </li>
        <!--<li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:;">
                <i class="fa fa-envelope"></i><span class="label label-primary flashInfo" id="mailInSiteNum">6</span>站内信
            </a>
            <ul class="dropdown-menu dropdown-alerts" id="mailInSite" style="width: 250px;"><li><a href="/Task/DashBoard" class="J-mail" data-data="OperatorNum=14931&amp;IsTest=1"><div><i class="fa fa-list-alt"></i>你有<span class="text-danger">6</span>未处理的任务<span class="pull-right text-muted small">点击查看</span></div></a></li><li class="divider"></li></ul>
        </li>-->
        <li>
            <a href="javascript:;">
                <i class="fa fa-sign-out"></i>退出
            </a>
        </li>
    </ul>
</nav>
