<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>Aurora</title>

    <!-- Mainly style -->
    <link href="/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="/common/animate.css" rel="stylesheet" />-->
    <!--<link href="/common/style.css" rel="stylesheet" />-->
    <link href="/common/app.css" rel="stylesheet" />

</head>
<body><!--class="skin-1"-->

    <%- include('./bar_nav') -%>

    <%- include('./bar_head') -%>

    <div id="frameBox" class="content-box"></div>

    <%- include('./bar_footer') -%>


    <!-- Mainly scripts -->
    <script src="/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>