<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>Aurora</title>
    <!-- Mainly style -->
    <link href="/Static/css/layout.min.css" rel="stylesheet" />
</head>
<body class="skin-1 mini-navbar">
    <%- body -%>

    <!-- Mainly scripts -->
    <script src="/Static/js/layout.min.js"></script>
</body>
</html>